<diV>
  <div>
    <button
      *ngIf="role == 'DERMATOLOGIST'"
      mat-raised-button
      color="accent"
      class="add-product"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
      Add Product
    </button>
  </div>
  <div class="content">
    <div class="card-deck" fxLayout="row wrap" fxLayoutGap="10px grid">
      <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let product of observable | async"
      >
        <app-product-card
          id="{{ product.id }}"
          [product]="product"
          [role]="role"
          (deleteClicked)="onDeleted($event)"
        >
        </app-product-card>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 25]"></mat-paginator>
  </div>
</diV>
