<div style="display: inline-grid">
  <div>
    <button
      *ngIf="role == 'DERMATOLOGIST'"
      mat-raised-button
      color="accent"
      class="add-product"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
      Add Product
    </button>
  </div>
  <cdk-virtual-scroll-viewport
    orientation="horizontal"
    itemSize="3"
    class="example-viewport custom-scroll-bar"
  >
    <div class="content" style="display: flex">
      <div class="card-deck" fxLayout="row wrap" fxLayoutGap="10px grid">
        <div
          style="width: 20%; min-width: 200px"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let product of observable | async"
        >
          <app-product-card
            style="height: -webkit-fill-available !important"
            id="{{ product.id }}"
            [product]="product"
            [role]="role"
            [username]="username"
            (deleteClicked)="onDeleted($event)"
          >
          </app-product-card>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
