<mat-card *ngIf="patient">
  <mat-card-header class="card-header">{{ username }}</mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <form [formGroup]="editForm" *ngIf="editForm">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field class="containerInput" color="accent">
              <input
                matInput
                type="text"
                formControlName="name"
                required
                placeholder="Name"
                [readonly]="!editMode"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="containerInput" color="accent">
              <input
                matInput
                type="text"
                formControlName="surname"
                placeholder="Surname"
                [readonly]="!editMode"
              />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="containerInput" color="accent">
              <input
                matInput
                type="email"
                formControlName="email"
                placeholder="Email"
                [readonly]="!editMode"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="containerInput" color="accent">
              <input
                matInput
                type="text"
                formControlName="birthday"
                placeholder="Birthday"
                [readonly]="true"
                [disabled]="true"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="containerInput" color="accent">
              <input
                matInput
                type="text"
                formControlName="gender"
                placeholder="Gender"
                [readonly]="true"
                [disabled]="true"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="edit-button">
          <button
            *ngIf="!this.editMode"
            mat-flat-button
            color="accent"
            type="submit"
            (click)="this.editMode = true"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="submit-button">
          <button
            *ngIf="this.editMode"
            mat-flat-button
            color="accent"
            type="submit"
            (click)="this.editMode = false"
          >
            <mat-icon>cancel</mat-icon>
          </button>
          <button
            style="padding-left: 5px"
            *ngIf="this.editMode"
            mat-stroked-button
            color="accent"
            type="submit"
            (click)="editProfile()"
          >
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <label>Routines</label>
          <div class="example-action-buttons">
            <button mat-button (click)="accordion.openAll()">Expand All</button>
            <button mat-button (click)="accordion.closeAll()">
              Collapse All
            </button>
          </div>
          <mat-accordion class="containerInput" multi>
            <mat-expansion-panel *ngFor="let routine of this.routines">
              <mat-expansion-panel-header>
                <mat-panel-title
                  >Routine start date: {{ routine.startDate }}</mat-panel-title
                >
              </mat-expansion-panel-header>

              <app-routine-products-card
                [products]="routine.productWithReaction"
              ></app-routine-products-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
