<div class="container">
  <form class="search-form" [formGroup]="searchForm">
    <mat-form-field class="example-container">
      <span matPrefix> </span>
      <input
        matInput
        type="text"
        placeholder="Search..."
        formControlName="search"
        maxlength="25"
      />
    </mat-form-field>
    <button
      style="padding-top: 10px"
      color="accent"
      type="submit"
      (click)="search()"
      matSuffix
      mat-icon-button
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
    id="userTable"
  >
    <!-- Username Column -->
    <ng-container matColumnDef="Username">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="username"
        sortActionDescription="Sort by username"
      >
        Username
      </th>
      <td mat-cell name="username" *matCellDef="let element">
        {{ element.username }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="name"
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element" name="name">{{ element.name }}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="Surname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="surname"
        sortActionDescription="Sort by surname"
      >
        Surname
      </th>
      <td mat-cell *matCellDef="let element" name="surname">
        {{ element.surname }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="email"
        sortActionDescription="Sort by email"
      >
        Email
      </th>
      <td mat-cell *matCellDef="let element" name="emali">
        {{ element.email }}
      </td>
    </ng-container>

    <!-- Birthday Column -->
    <ng-container matColumnDef="Birthday">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="birthday"
        sortActionDescription="Sort by birthday"
      >
        Birthday
      </th>
      <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
    </ng-container>

    <!-- Gender -->
    <ng-container matColumnDef="Gender">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="gender"
        sortActionDescription="Sort by gender"
      >
        Gender
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.gender | titlecase }}
      </td>
    </ng-container>

    <!-- User routines TODO -->
    <ng-container matColumnDef="Routines">
      <td></td>
      <th mat-header-cell *matHeaderCellDef>Routines</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          color="accent"
          type="submit"
          class="submit-button"
          (click)="onOpenRoutines(element.username)"
          name="routinesButton"
        >
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
