table {
  width: 100%;
}

.routine-dialog {
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.input {
  width: 100%;
}

.title {
  text-align: center;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
}
