<div class="container">
  <h2 mat-dialog-title class="title">Perscribe routine</h2>
  <mat-dialog-content [formGroup]="routineForm" class="routine-dialog">
    <mat-form-field class="input">
      <input
        matInput
        type="text"
        formControlName="manufacturer"
        required
        placeholder="Manufacturer"
      />
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Skin Characteristics</mat-label>
      <mat-select formControlName="skinCharacteristics" [multiple]="true">
        <mat-option
          *ngFor="let skinCharacteristic of skinCharacteristicsSelect"
          [value]="skinCharacteristic.value"
        >
          {{ skinCharacteristic.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Wanted Goals</mat-label>
      <mat-select formControlName="wantedGoals" [multiple]="true">
        <mat-option *ngFor="let goal of goalsSelect" [value]="goal.value">
          {{ goal.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Acne Type</mat-label>
      <mat-select formControlName="acneType">
        <mat-option
          *ngFor="let acneType of acneTypeSelect"
          [value]="acneType.value"
        >
          {{ acneType.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Allergies</mat-label>
      <mat-select formControlName="allergies" [multiple]="true">
        <mat-option *ngFor="let allergy of allergens" [value]="allergy">
          {{ allergy }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-buttons">
    <button
      mat-flat-button
      color="accent"
      type="submit"
      class="submit-button"
      (click)="cancel()"
      id="cancel-button"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="accent"
      type="submit"
      class="submit-button"
      (click)="getRoutineRecommendation()"
      [disabled]="routineForm.invalid"
      id="submit-drink-button"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
