.dialog-buttons {
  display: flex;
  justify-content: flex-end;
}

.dialog-buttons button {
  margin: 5px;
}

.containerInput {
  width: 100%;
}

.input {
  width: 100%;
}

.dialog-content {
  display: grid;
}
