.input {
  width: 100%;
}

.containerInput {
  width: 60%;
  display: block;
  justify-content: center;
}

.card-body {
  font-size: large;
  width: 100%;
  padding-left: 20%;
  padding-top: 5%;
}

.card-header {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}
